[submodule "go-ethereum"]
	path = go-ethereum
	url = https://github.com/niubichain/go-ethereum.git
[submodule "prysm"]
	path = prysm
	url = https://github.com/prysmaticlabs/prysm
[submodule "rust-ethereum"]
	path = rust-ethereum
	url = https://github.com/paradigmxyz/reth.git
[submodule "lighthouse"]
	path = lighthouse
	url = https://github.com/sigp/lighthouse.git
